<h2>CosmosysGitController#menu</h2>
<p>Actions:</p>
<p><%= link_to 'Import', { :action => 'import'}, :method => :get %></p>
<p><%= link_to 'Export', { :action => 'export'}, :method => :get %></p>
<p><%= link_to 'Report', { :action => 'report'}, :method => :get %></p>
